<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>规格管理</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" specName="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

</head>

<body class="hold-transition skin-red sidebar-mini">
<!-- .box-body -->
<div class="box-header with-border">
    <h3 class="box-title">规格管理</h3>
</div>
<div class="box-body">
    <!-- 数据表格 -->
    <div class="table-box">

        <!--工具栏-->
        <div class="pull-left">
            <div class="form-group form-inline">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" title="新建" data-toggle="modal"
                            data-target="#addModal"><i class="fa fa-file-o"></i> 新建
                    </button>
                    <button type="button" class="btn btn-default" title="删除"><i class="fa fa-trash-o"></i> 删除</button>

                    <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i
                            class="fa fa-refresh"></i> 刷新
                    </button>
                </div>
            </div>
        </div>

        <form action="/spec/?pageIndex=1&pageSize=5" method="get">
            <div class="box-tools pull-right">
                <div class="has-feedback">
                    规格名称：<input name="specName" th:value="${specName}">
                    <button class="btn btn-default" type="submit">查询</button>
                </div>
            </div>
        </form>

        <!--工具栏/-->
        <!--数据列表-->
        <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
            <thead>
            <tr>
                <th class="" style="padding-right:0px">
                    <input id="selall" type="checkbox" class="icheckbox_square-blue">
                </th>
                <th class="sorting_asc">规格ID</th>
                <th class="sorting">规格名称</th>
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="spec:${pageUtils.records}">
                <td><input type="checkbox"></td>
                <td th:text="${spec.id}"></td>
                <td th:text="${spec.specName}"></td>
                <td class="text-center">
                    <button th:onclick="|goUpdate(${spec.id});|" type="button" class="btn bg-olive btn-xs"
                            data-toggle="modal" data-target="#editModal">修改
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <!--数据列表/-->

        <!-- 分页组件 -->
        <div class="row">
            <div class="col-sm-6">
                <div class="dataTables_paginate paging_bootstrap" id="sample-table_paginate">
                    <ul class="pagination">
                        <li class="prev"><a
                                th:href="|/spec/?pageIndex=1&pageSize=${pageUtils.pageSize}&specName=${specName}|">首页</a>
                        </li>
                        <!--<li class="prev" th:if="${pageUtils.pageIndex>1}"><a th:href="|/brand/page?pageIndex=${pageUtils.pageIndex-1}&pageSize=${pageUtils.pageSize}|">上一页</a></li>-->
                        <li class="next" th:each="num:${pageUtils.numbers}"
                            th:class="${pageUtils.pageIndex==num}? active">
                            <a th:href="|/spec/?pageIndex=${num}&pageSize=${pageUtils.pageSize}&specName=${specName}|"
                               th:text="${num}">XXX</a>
                        </li>
                        <!--	<li class="next" th:if="${pageUtils.pageIndex<pageUtils.pageCount}"><a th:href="|/brand/page?pageIndex=${pageUtils.pageIndex+1}&pageSize=${pageUtils.pageSize}|">下一页</a></li>-->
                        <li class="next"><a
                                th:href="|/spec/?pageIndex=${pageUtils.pageCount}&pageSize=${pageUtils.pageSize}&specName=${specName}|">尾页</a>
                        </li>
                        <li class="next"><a href="#" th:text="|当前${pageUtils.pageIndex}/${pageUtils.pageCount}页|"></a>
                        </li>
                        <li class="next"><a href="#" th:text="|共${pageUtils.totalCount}条|">XXX</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- 分页组件 -->

    </div>
    <!-- 数据表格 /-->
</div>
<!-- /.box-body -->

<!--新增窗口-->
<form id="addForm" action="#" method="post">
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel2">规格新增</h3>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-striped" width="800px">
                        <tr>
                            <td>规格名称</td>
                            <td><input name="specName" class="form-control" placeholder="规格名称"></td>
                        </tr>
                    </table>
                    <!-- 规格选项 -->
                    <div class="btn-group">
                        <button onclick="addOption();" type="button" class="btn btn-default" title="新建"><i
                                class="fa fa-file-o"></i> 新增规格选项
                        </button>
                    </div>
                    <table class="table table-bordered table-striped table-hover dataTable">
                        <thead>
                        <tr>
                            <th class="sorting">规格选项</th>
                            <th class="sorting">排序</th>
                            <th class="sorting">操作</th>
                        </thead>
                        <tbody id="tbody_opt_add">
                        <tr>
                            <td>
                                <input name="optName" class="form-control" placeholder="规格选项">
                            </td>
                            <td>
                                <input name="order" class="form-control" placeholder="排序">
                            </td>
                            <td>
                                <button onclick="deleteOption_add(this)" type="button" class="btn btn-default"
                                        title="删除"><i class="fa fa-trash-o"></i> 删除
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input name="optName" class="form-control" placeholder="规格选项">
                            </td>
                            <td>
                                <input name="order" class="form-control" placeholder="排序">
                            </td>
                            <td>
                                <button onclick="deleteOption_add(this)" type="button" class="btn btn-default"
                                        title="删除"><i class="fa fa-trash-o"></i> 删除
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input name="optName" class="form-control" placeholder="规格选项">
                            </td>
                            <td>
                                <input name="order" class="form-control" placeholder="排序">
                            </td>
                            <td>
                                <button onclick="deleteOption_add(this)" type="button" class="btn btn-default"
                                        title="删除"><i class="fa fa-trash-o"></i> 删除
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button onclick="addSpec();" class="btn btn-success" data-dismiss="modal" aria-hidden="true">新增
                    </button>
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- 编辑窗口 -->
<form id="updateForm" action="#">
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">规格新增</h3>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" id="update_id">
                    <table class="table table-bordered table-striped" width="800px">
                        <tr>
                            <td>规格名称</td>
                            <td><input id="update_specName" name="specName" class="form-control" placeholder="规格名称">
                            </td>
                        </tr>
                    </table>
                    <!-- 规格选项 -->
                    <div class="btn-group">
                        <button onclick="addOption_edit();" type="button" class="btn btn-default" title="新建"><i
                                class="fa fa-file-o"></i> 新增规格选项
                        </button>
                    </div>
                    <table class="table table-bordered table-striped table-hover dataTable">
                        <thead>
                        <tr>
                            <th class="sorting">规格选项</th>
                            <th class="sorting">排序</th>
                            <th class="sorting">操作</th>
                        </thead>
                        <tbody id="tbody_opt_edit">

                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button onclick="updateSpec();" class="btn btn-success" data-dismiss="modal" aria-hidden="true">更新
                    </button>
                    <button onclick="clearSpec();" class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    function addSpec() {
        let data = $("#addForm").serialize();
        $.post('/spec/', data, function (res) {
            alert(res.msg);
            location.href = '/spec/'
        });
    }

    function addOption() {
        $('#tbody_opt_add').append("<tr><td><input name=\"optName\" class=\"form-control\" placeholder=\"规格选项\"></td>\n" +
            "<td><input name=\"order\" class=\"form-control\" placeholder=\"排序\"></td>\n" +
            "<td><button onclick=\"deleteOption_add(this)\" type=\"button\" class=\"btn btn-default\" title=\"删除\"><i class=\"fa fa-trash-o\"></i> 删除</button></td></tr>");
    }

    function addOption_edit() {
        $('#tbody_opt_edit').append("<tr><td><input name=\"optName\" class=\"form-control\" placeholder=\"规格选项\"></td>\n" +
            "<td><input name=\"order\" class=\"form-control\" placeholder=\"排序\"></td>\n" +
            "<td><button onclick=\"deleteOption_add(this)\" type=\"button\" class=\"btn btn-default\" title=\"删除\"><i class=\"fa fa-trash-o\"></i> 删除</button></td></tr>");
    }

    function deleteOption_add(btn) {
        $(btn).parent().parent().remove();
    }

    function goUpdate(id) {
        $.get('/spec/' + id, function (res) {
            $('#update_specName').val(res.spec.specName);
            $('#update_id').val(res.spec.id);
            let opts = res.specOpts;
            for (let i = 0; i < opts.length; i++) {
                $('#tbody_opt_edit').append("<tr><td><input name=\"optName\" value='" + opts[i].optName + "' class=\"form-control\" placeholder=\"规格选项\"></td>\n" +
                    "<td><input name=\"order\" value='" + opts[i].order + "' class=\"form-control\" placeholder=\"排序\"></td>\n" +
                    "<td><button onclick=\"deleteOption_add(this)\" type=\"button\" class=\"btn btn-default\" title=\"删除\"><i class=\"fa fa-trash-o\"></i> 删除</button></td></tr>");
            }

        });
    }

    function clearSpec() {
        $('#tbody_opt_edit').empty();
    }

    function updateSpec() {
        let data = $('#updateForm').serialize();
        //ajax发送put请求
        $.ajax({
            url: '/spec/',
            type: "PUT",
            data: data,
            success: function (result) {
                alert(result.msg);
                location.href = "/spec/";
            }
        });
    }
</script>

</body>

</html>