<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yigou.goods.mapper.ItemMapper">

    <select id="getItemsByGoodsId" resultType="Item">
        select * from tb_item where goods_id=#{goodsId};
    </select>

    <select id="getItemById" resultType="com.yigou.common.entity.Item">
        select * from tb_item where id=#{itemId};
    </select>

    <update id="updateItemNum">
        update tb_item set num=num-#{num} where id=#{itemId};
    </update>

</mapper>